<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!-- 兼容Tomcat的配置文件web.xml -->
	<!-- 加载步骤:<listener/>和<context-param/> -->
	<!-- 紧接着,创建一个上下文ServletContext(这个WEB项目所有部分共享),并将<context-param/>转为键值对交给ServletContext -->
	<!-- 然后,创建监听器实例<listener/>,在监听器中的初始化方法contextInitialized(ServletContextEvent args)中: -->
	<!-- ServletContext = ServletContextEvent.getServletContext(); -->
	<!-- context-param的值 = ServletContext.getInitParameter("context-param的键"); -->
	<!-- 从而获取到所有配置的context-param -->
	<!-- web.xml加载顺序： context-param->listener->filter->servlet，listener加载顺序就是书写顺序. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<context-param>
		<param-name>fomConfigLocation</param-name>
		<param-value>/WEB-INF/fom.xml</param-value>
	</context-param>
	<context-param>
		<param-name>poolConfigLocation</param-name>
		<param-value>/WEB-INF/pool.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.eto.fom.boot.listener.PoolListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.eto.fom.boot.listener.FomListener</listener-class>
	</listener>
	
	<filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>