<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
	<!-- 配置mysql的demo库,连接池使用commons-pool2 -->
	<bean id="mysqlDemoDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.141.13:3306/demo" />
		<property name="username" value="shanhm" />
		<property name="password" value="shanhm" />
		<property name="minIdle" value="1" />
		<property name="maxIdle" value="10" />
		<property name="initialSize" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="60000"/> 
        <property name="poolPreparedStatements" value="true"/>        
        <property name="maxOpenPreparedStatements" value="50"/>        
        <property name="removeAbandonedTimeout" value="180"/>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
        <property name="testWhileIdle" value="true"/>
		<property name="validationQuery" value="select 1 from dual" />
	</bean>
	
	<bean id="mysqlDemoSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="mysqlDemoDataSource" />
		<property name="configLocation" value="examples/dataSource/mysql_demo_mybatis.xml" />
	</bean>

	<bean id="mysqlDemoDao" class="com.fom.examples.importer.dao.MysqlDemoDaoImpl">
		<property name="sqlSessionFactory" ref="mysqlDemoSqlSessionFactory" />
	</bean>
</beans>
