<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>
	<!-- 配置oracle的demo库,连接池使用c3p0 -->
	<bean id="oracleDemoDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.141.21:1521:orcl" />
		<property name="user" value="scott" />
		<property name="password" value="admin" />
		<property name="acquireIncrement" value="2" />
		<property name="acquireRetryAttempts" value="2" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="autoCommitOnClose" value="false" />
		<property name="initialPoolSize" value="3" />
		<property name="maxIdleTime" value="60000" />
		<property name="maxPoolSize" value="20" />
		<property name="maxStatements" value="0" />
		<property name="maxStatementsPerConnection" value="0" />
		<property name="numHelperThreads" value="3" />
		<property name="propertyCycle" value="300" />
	</bean>

	<bean id="oracleDemoSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="oracleDemoDataSource" />
		<property name="configLocation" value="classpath:com/fom/test/importer/dataSource/oracle_demo_mybatis.xml" />
	</bean>

	<bean id="oracleDemoDao" class="com.fom.test.importer.dao.OracleDemoDaoImpl">
		<property name="sqlSessionFactory" ref="oracleDemoSqlSessionFactory" />
	</bean>


</beans>
