<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.star.coding.passion.web.model"/>
    </typeAliases>
 
    <plugins>
        <!--分页插件、只拦截映射文件中sql语句id以ByPage结尾的sql语句、仅支持mysql和Oracle分页-->
        <plugin interceptor="org.star.coding.passion.web.interceptor.PageInterceptor">
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>
 
    <mappers/>
</configuration>
